/*nav*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primo: #047aed;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
  background-color: var(--primo);
  color: #fff;
}

header ul {
  display: flex;
}

header ul li {
  padding: 0 10px;
}

header ul li a {
  color: #fff;
  transition: 0.3 ease-in-out;
}

header ul li a:hover {
  border-bottom: solid 1px;
  padding-bottom: 5px;
}

